# edit and save this file to /usr/lib/systemd/system/clash.service
[Unit]
Description=clash
After=network.target

[Service]
WorkingDirectory=/home/bingo/.config/clash
ExecStart=/home/bingo/bin/clash/clash-start
ExecStop=/home/bingo/bin/clash/clash-stop

[Install]
WantedBy=default.target
