[Unit]
Description=xremap

[Service]
Type=simple
Restart=always
ExecStart=xremap /home/bingo/.config/xremap/config.yml --watch=device,config

[Install]
WantedBy=default.target
