[Unit]
Description=Key remapper for X11 and Wayland
Documentation=https://github.com/xremap/xremap
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/xremap --watch=config,device --mouse %h/.config/xremap/config.yml
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
