{{ if not (lookPath "rbw") -}}
#!/bin/sh
{{- if eq .chezmoi.os "darwin" }}
brew install rbw
{{- else if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.id "arch" }}
sudo pacman -S rbw
{{- else }}
echo "unsupported release: {{ .chezmoi.osRelease.id }}"
exit
{{- end }}
{{- else }}
echo "unsupported os: {{ .chezmoi.os }}"
exit
{{- end }}
rbw config set base_url https://vault.binlog.xyz
rbw config set email bingo084@outlook.com
{{- end }}
