#!/bin/sh

set -eu

{{- $repo := joinPath .chezmoi.homeDir "/.config/mihomo" }}
# mihomo config revision: {{ output "git" "-C" $repo "rev-parse" "HEAD" }}
exec "{{ joinPath $repo "deploy" }}"

# vim:ft=sh:
