encryption = "age"
progress = true
[data]
    github = "https://mirror.ghproxy.com/https://github.com"
    githubRaw = "https://mirror.ghproxy.com/https://raw.githubusercontent.com"
    provider= "https://mirror.ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers"
[edit]
    hardlink = false
[merge]
    args = ["-d"]
    command = "nvim"
[gitHub]
    refreshPeriod = "1h"
