encryption = "age"
progress = true
[data]
    github = "https://mirror.ghproxy.com/https://github.com"
    githubRaw = "https://mirror.ghproxy.com/https://raw.githubusercontent.com"
[edit]
    hardlink = false
[diff]
    command = "delta"
[merge]
    args = ["-d"]
    command = "nvim"
[gitHub]
    refreshPeriod = "1h"
[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"
