#!/bin/bash
# bat themes hash:
{{ range (glob (joinPath .chezmoi.homeDir "/.config/bat/themes/*.tmTheme")) -}}
# {{ include . | sha256sum }}
{{ end -}}
echo "bat themes changed, rebuild cache..."
bat cache --build
