{{- $personal := rbwFields "Personal" -}}
{{- $shannon := rbwFields "Shannon" -}}
{{- $jumpHost := $shannon.JumpHost.value -}}
{{- $jumpPort := $shannon.JumpPort.value -}}
{{- $jumpUser := $shannon.JumpUser.value -}}
Match host *-prod,prod-*
    PermitLocalCommand yes
    LocalCommand sh -c 'printf "\n\033[1;33;41m ⚠ 生产环境警告 ⚠ \033[0m\n\033[1;31m登录身份: %r\033[0m\n\033[1;31m目标主机: %h\033[0m\n\n"; read -p "确认登录生产环境？输入 YES 继续: " x < /dev/tty; if [ "$x" != "YES" ]; then echo "登录已取消"; kill $PPID; fi'
Host *
    ServerAliveInterval 60
Host bingo-server
    HostName {{ $personal.Host.value }}
    User {{ $personal.User.value }}
Host shannon
    HostName {{ $jumpHost }}
    Port {{ $jumpPort }}
    User {{ $jumpUser }}
Host epoch-test
    HostName {{ $jumpHost }}
    Port {{ $jumpPort }}
    User {{ $jumpUser }}@{{ $shannon.EpochTest.value }}
Host epoch-prod
    HostName {{ $jumpHost }}
    Port {{ $jumpPort }}
    User {{ $jumpUser }}@{{ $shannon.EpochProd.value }}
Host github.com
    Hostname ssh.github.com
    Port 443
    User git

# vim:ft=sshconfig:
