{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# mihomo hash: {{ include "/opt/homebrew/bin/mihomo" | sha256sum }}
echo "mihomo has changed, restarting service..."
sudo launchctl kickstart -k system/com.metacubex.mihomo
{{- end }}
