{
  "weather_key": {{ (rbwFields "Weather").Key.value | quote }},
  "tencent_map": {
    "key": {{ (rbwFields "TencentMap").Key.value | quote }},
    "secret_key": {{ (rbwFields "TencentMap").SecretKey.value | quote }}
  }
}
